/.gradle/
build/
g=out/
gen/

gradlew
gradlew.bat

/data/saves/
/data/rsa/
/data/xteas.json
/cfg/
/plugins/

error.log
modulus

first-launch
first-launch-example
/game.yml
/dev-settings.yml

/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/kotlinScripting.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules/
/.idea/shelf/
